* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu-collapse-container {
    width: 100%;
    height: 100vh;
    top: 0px;
    left: -100%;
    position: absolute;
    z-index: 1;
    transition: left 0.3s ease;
}

.no-scroll {
    overflow: hidden;
}

.link-dropdown-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 40px;
    border-bottom: 1px solid rgb(134, 134, 134);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    visibility: hidden;
}

.link-dropdown-item {
    padding: 10px 0px 10px 0px;
    font-size: 22px;
    display: flex;
    align-items: center;
    height: 8vh;
}

.shadow-menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.menu-ativo {
    left: 0px;
    visibility: visible;
    transition: left 0.3s ease, opacity 0.4s ease;
    opacity: 1;
}

.title-produtos {
    width: 100%;
    height: 5vh;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin: 10px 0px 0px 0px;
    align-items: center;
}

.menu-collapse-content {
    width: 70%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.menu-links-container {
    color: rgb(0, 0, 0);
}

.menu-link {
    font-size: 24px;
    padding: 0px 0px 0px 20px;
    border-bottom: 1px solid rgb(134, 134, 134);
    position: relative;
    display: flex;
    align-items: center;
    height: 8vh;
}

.menu-link-dropdown {
    font-size: 26px;
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    height: 8vh;
    border-bottom: 1px solid rgb(134, 134, 134);
    position: relative;
}

.active{
    visibility: visible;
    max-height: 1000px; /* ou o suficiente pro conteúdo */
}

.menu-link-dropdown::before {
    content: "+";
    font-weight: 600;
    display: block;
    width: 10%;
    right: 10px;
    position: absolute;
    transition: width 0.3s ease;
}

.menu-link-dropdown.active-sign::before {
    content: "-";
    font-weight: 600;
    display: block;
    width: 10%;
    right: 10px;
    position: absolute;
    transition: width 0.3s ease;
}

.exit-icon-container {
    width: 100%;
    height: 5vh;
    padding: 0px 0px 0px 15px;
    display: flex;
    color: black;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.carrosel-container {
    width: 100%;
    height: 30vh;
    display: flex;
    background-color: rgb(196, 196, 196);
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
}

.icon-pesquisa {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: rgb(99, 99, 99)
}



body {
    background-color: rgb(235, 235, 235);
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Estilo para celulares */
@media (max-width: 767px) {

    .destaques-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 70px;
        padding: 2%;
    }

    .item-container {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
        height: 100%;
    }

    .produto-container {
        padding: 1%;
        max-width: 50%;
        flex: 1 1 calc(50% - 8px);
        height: 35vh;
    }

    .produto-container-ad {
        padding: 2%;
        flex: 1 1 calc(100% - 8px);
        height: 35vh;
    }

    .img-item {
        width: 100%;
        height: 60%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(196, 196, 196);
    }

    .desc-item {
        width: 100%;
        height: 25%;
        display: flex;
        margin: 0;
        align-items: center;

    }

    .desc-item span {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2em;
        max-height: 3.6em;
        word-break: break-word;
    }

    .desc-item-ad {
        width: 100%;
        height: 30%;
        display: flex;
        margin: 0;
        align-items: center;

    }

    .preco-item {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
    }

    .preco-item span {
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
        padding: 4%;
        border-radius: 8px;
        background-color: rgb(103, 199, 255);

    }

    .bottom-nav {
        width: 100%;
        height: 60px;
        position: fixed;
        background-color: white;
        bottom: 0;
        z-index: 1;
        display: flex;
        justify-content: space-around;
        box-shadow: -15px 0px 20px 5px rgba(0, 0, 0, 0.1);
        align-items: center;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .nav-item span {
        font-size: 15px;
    }

    .menu-container {
        color: black;
        width: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }

    .header {
        z-index: 2;
        position: fixed;
        top: 0;
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        height: 60px;
        padding: 5px;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    .pesquisa-container {
        display: flex;
        position: relative;
        width: 80%;
        padding: 2%;
        margin: 0px 10px 0px 10px;

    }

    .pesquisa-input {
        width: 100%;
        padding: 10px 10px;
        border-radius: 30px;
        border: 1px solid #dfdfdf;
        font-size: 16px;
        color: black;
        background-color: rgb(230, 230, 230);
        border: none;
    }

    .header {
        background-color: white;
        color: white;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        height: 60px;
        padding: 5px 5px;
    }
}

/* Estilo para tablets */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: lightgreen;
    }
}

/* Estilo para desktops */
@media (min-width: 992px) {
    body {
        background-color: lightgray;
    }
}